button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    font-weight: bold;
}

input{
    width: 200px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}
